@charset "UTF-8";
body{
  background-color:white!important;
}
a{
  cursor:pointer!important;
}
.style-button-green{
  color: white!important;
  background-color: #43a047!important;
  border-radius: 20px!important;
}
.style-disabled-link{
  cursor: default!important;
  color: #bdbdbd!important;
}
.style-disabled-link:hover{
  text-decoration: none!important;
}
.style-red-text{
  color: #e53935!important;
}
.style-blue-text{
  color: #448aff!important;
}
.style-green-text{
  color: #43a047!important;
}
.style-grey-text{
  color: rgba(0,0,0,0.54)!important;
}
.style-red-bg{
  background-color: #e53935!important;
  color:white!important;
}
.style-fixed-toolbar{
  position:sticky!important;
  top:0px!important;
}
.md-drawer {
  width: 230px!important;
  max-width: calc(100vw - 125px)!important;
}
.md-app {
  /*max-height: calc(100vh - 64px);*/
  border: 1px solid rgba(#000, .12);
}
.md-drawer {
  width: 230px!important;
  max-width: calc(100vw - 125px)!important;
  /*background-color: white!important;*/
  color:#2c3e50!important;
}
.md-divider.md-inset {
  margin-left: 0px!important;
}
.md-list-item-content{
  color:#2c3e50!important;
}
.style-table-header{
  color: black!important;
  font-family: 'Roboto';
}
.md-table-head-label{
  padding-right:10px!important;
  padding-left:10px!important;
}

.style-event-color{
  background-color: rgba(164,230,210,.9)!important;
  border: 1px solid #90d2be!important;
}
.vuecal__menu, .vuecal__cell-events-count {
  background-color: #e53935!important;
  color:white!important;
}
.vuecal__title-bar {
  background-color: #e538357c!important;
}
.vuecal__cell--today, .vuecal__cell--current {
  background-color: rgba(255, 255, 255, 0.418)!important;
}
.vuecal:not(.vuecal--day-view) .vuecal__cell--selected {
  background-color: rgba(235, 255, 245, 0.4)!important;
}
.vuecal__cell--selected:before {
  border-color: rgba(66, 185, 131, 0.5)!important;
}
/* Cells and buttons get highlighted when an event is dragged over it. */
.vuecal__cell--highlighted:not(.vuecal__cell--has-splits),
.vuecal__cell-split--highlighted {background-color: rgba(195, 255, 225, 0.5);}
.vuecal__arrow.vuecal__arrow--highlighted,
.vuecal__view-btn.vuecal__view-btn--highlighted {background-color: rgba(136, 236, 191, 0.25);}

.vuecal__event {cursor: pointer!important;}


button{
  border:none!important;
  margin: 5px!important;
  cursor: pointer!important;
}

.circleScaleBtn {
  padding: 12px 12px!important;
  background-color: hsl(0, 100%, 95%)!important;
  color: #e53935!important;
  position: relative!important;
  border-radius: 6px!important;
  overflow: hidden!important;
  z-index: 1!important;
}

.circleScaleBtn span {
  z-index: 1!important;
  position: relative!important;
}

.circleScaleBtn::before {
  content: ''!important;
  position: absolute!important;
  top: 50%!important;
  left: 50%!important;
  width: 140px!important;
  height: 140px!important;
  border-radius: 50%!important;
  transform: translate3d(-50%,-50%,0) scale3d(0,0,0)!important;
  transition: opacity .4s cubic-bezier(.19,1,.22,1),transform .75s cubic-bezier(.19,1,.22,1)!important;
  background-color: #e53935!important;
  opacity: 0!important;
}

.circleScaleBtn:hover span {
  color: hsl(0, 100%, 95%)!important;
}

.circleScaleBtn:hover::before {
  opacity: 1!important;
  transition-duration: .85s!important;
  transform: translate3d(-50%,-50%,0) scale3d(1,1,1)!important;
}


.pulseBtn {
  padding: 12px 24px!important;
  background-color: hsl(0, 100%, 95%)!important;
  color: #e53935!important;
  border-radius: 6px!important;
  box-shadow: 0 0 0 0 rgba(230, 237, 255, 0.7)!important;
  animation: pulse 1.75s infinite cubic-bezier(0.66, 0, 0, 1);
}

@keyframes pulse {
  to {
    box-shadow: 0 0 0 30px rgba(230, 237, 255, 0);
  }
}

.snapLeftBtn {
  text-align: center;
  padding: 12px 24px;
  background-color: hsl(0, 100%, 95%);
  position: relative;
  border-radius: 6px;
  color: #e53935;
  overflow: hidden;
}

.snapLeftBtn::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  transform: translateX(-101%);
  background:#e53935;
  transition: transform .25s ease-in;
}

.snapLeftBtn:hover::before {
  transform: translateX(0);
}

.snapLeftBtn span {
  position: relative;
  z-index: 1;
  display: block;
  transition: color 0.1s .15s ease-in;
}

.snapLeftBtn:hover span {
  color: hsl(0, 100%, 95%);
  animation: animButtonSpan 0.4s;
}

@keyframes animButtonSpan {
  0% {
      transform: translateX(0);
      opacity: 1;
  }

  35% {
      transform: translateX(20px);
      opacity: 0;
  }

  50.001% {
      transform: translateX(-20px);
  }

  60% {
      transform: translateX(0px);
  }

}




