@charset "UTF-8";

.style-red-text{
  color: #e53935!important;
}
.style-fixed-toolbar{
  position:sticky!important;
  top:0px!important;
}
.md-drawer {
  width: 230px!important;
  max-width: calc(100vw - 125px)!important;
}
.md-app {
  max-height: calc(100vh - 64px);;
  border: 1px solid rgba(#000, .12);
}
.md-drawer {
  width: 230px!important;
  max-width: calc(100vw - 125px)!important;
}